[user]
	name = p3dro-docplanner
	email = pedro.jimenez@docplanner.com

[fetch]
	prune = true

[push]
	default = simple

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	editor = vim
	autocrlf = input
	trustctime = false
	precomposeunicode = false
	pager = delta --dark
	ignorecase = false
