[user]
	name = Pedro Jimenez
	email = pedro.jimenez@docplanner.com

[fetch]
	prune = true

[push]
	default = simple

[core]
	excludesfile = /Users/pedro/.gitignore_global
	attributesfile = ~/.gitattributes
	editor = vim
	autocrlf = input
	trustctime = false
	precomposeunicode = false
	pager = delta --dark
	ignorecase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = /Users/pedro/.stCommitMsg
