# If you modify this execute `zimfw uninstall & zimfw install`
zmodule environment
zmodule git-info
zmodule history
zmodule input
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
ztermtitle='%~'
zhighlighters=(main brackets)
