[user]
	name = Your Name
	email = your@email.com
[core]
	excludesfile = $HOME/.gitignore_global
[difftool "sourcetree"]
	cmd = code -n -w -d \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = code -n -w \"$MERGED\"
	trustExitCode = true
[commit]
	template = $HOME/.stCommitMsg
[alias]
	reset-permissions = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
